@import "tailwindcss";

@font-face {
	font-family: 'LuloCleanOneBold';
	src: url('/fonts/LuloCleanOneBold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

.font-lulo-bold {
	font-family: 'LuloCleanOneBold', sans-serif;
}

@font-face {
	font-family: 'LuloCleanOne';
	src: url('/fonts/LuloCleanOne.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.font-lulo {
	font-family: 'LuloCleanOne', sans-serif;
}

.font-montserrat {
	font-family: 'Montserrat', sans-serif;
}
